* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightcoral;
}

h3 {
    margin-left: 16px;
}

ol,ul{
    color:aqua;
    padding: 16px;
    margin-left: 24px;
}

#introduction{
    padding: 16px;
}

#container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;

}

#image {
    overflow: hidden;
}

#image img{
    background-size: contain;
}